/notebooks
/reports
/tests
/include
/docs
*.md
.git
.gitignore
.venv/
requirements_Colab.txt

**/.*
docker-compose.dev.yml
docker-compose.prod.yml
docker/recsys_retail_train
docker/traefik
scripts/inference_demo.py

k8s\secret.yml